.grid {
  @include clearfix;
  > * {
    box-sizing: border-box;
    display: block;
    float: left;
  }
  > *:nth-of-type(1n) {
    clear: none;
  }
  @each $breakpoint in $breakpoints {
    @for $columnNumber from 1 through $gridMaxColumns {
      @include gridColumn($breakpoint, $columnNumber);
    }
  }
}
