.grid {
  @include clearfix;
  > * {
    box-sizing: border-box;
    display: block;
    float: left;
  }
  > *:nth-of-type(1n) {
    clear: none;
  }
  @include xs {
    @for $columnNumber from 1 through $gridMaxColumns {
      @include gridColumn(xs, $columnNumber);
    }
  }
  @include sm {
    @for $columnNumber from 1 through $gridMaxColumns {
      @include gridColumn(sm, $columnNumber);
    }
  }
  @include md {
    @for $columnNumber from 1 through $gridMaxColumns {
      @include gridColumn(md, $columnNumber);
    }
  }
  @include lg {
    @for $columnNumber from 1 through $gridMaxColumns {
      @include gridColumn(lg, $columnNumber);
    }
  }
  @include xl {
    @for $columnNumber from 1 through $gridMaxColumns {
      @include gridColumn(xl, $columnNumber);
    }
  }
}
